<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/overnightoats.css">
    <title>Overnight Oats</title>
  </head>
  <body>
<!-- header design  -->
<header class="header">
  <div class="header-img">
      <h1>Overnight Oats</h1>
      <h3>30 Different Flavors</h3>
      <img src="/img/oo2.webp" alt="">
  </div>
  <a href="#" class="logo">Overnight Oats</a>
  <i class="bx bx-menu" id="menu-icon"></i>
  <nav class="navbar">
      <a href="#home" class="active">Flavors</a>
      <a href="#about">About</a>
  </nav>
</header>

<section id="flavors">
  <h2>Flavors Section</h2>
</section>

<section id="about">
  <h2>About Section</h2>
</section>

</body>
</html>
 