<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/overnightoats.css" />
    <title>About Overnights Oats</title>
</head>
  
  <!-- about section design -->
  <section class="about" id="about">
    <div class="about-content">
      <h2 class="heading">About <span>Overnight Oats</span></h2>
      <p>OK we’ll be honest - we weren’t 100% sure what we were doing when we started and we made a lot of mistakes. We’re still learning but one thing we always got right is making flavors our customers actually want... because we just ask them. Oats Overnight is the result.
        8 years later we’ve got 45+ flavors, facilities in AZ and OH, and we’re nationwide in stores. All thanks to you.
        At the end of the day, we’re not saving the world. We’re just a bunch of people making really good oatmeal.</p>
      <a href="#" class="btn">Read More</a>
    </div>
    </section>