<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/overnightoats.css" />
    <title>Overnight Oats Home</title>
</head>
  
  <!-- home section design -->
  <section class="home" id="home">
    <div class="home-content">
      <h3>Easy and Tasty - Overnight Oats</h3>
      <p>
      27 different flavors, 20 grams of protein each! Quick and Easy! Order your first Overnight Oats Today!</p>
        <div class="social-media">
          <a href="#"><i class="bx bxl-facebook"></i></a>
          <a href="#"><i class="bx bxl-twitter"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-linkedin"></i></a>
        </div>
        <a href="#" class="btn">Download CV</a>
    </div>
    <div class="home-img">
      <img src="/public/img/oo1.jpg" alt="" />
    </div>
  </section> 