<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruits</title>
    <link rel="stylesheet" href="/public/css/new.css"
</head>
<body>
    <!-- <h1>Add New Fruit</h1>
    <form action = "/fruits" method="POST">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="color">Color</label>
        <input type="text" name="color" id="color">
        <label for="readyToEat">Is Ready to Eat?</label>
        <input type="checkbox" name="readyToEat" id="readyToEat">
        <label for="submit" value="Create Fruit">
    </form> -->
  
        <form action="/fruits" method="POST">
          <div class="input-box">
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="color" id="color" placeholder="Color">
          </div>
          <div class="input-box">
            <label for="readyToEat">Is Ready to Eat?</label>
            <input type="checkbox" name="readyToEat" id="readyToEat">
            </div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Description"></textarea>
            <input type="submit" value="Create Fruit" class="btn">
          </form>
      </section>

</body>
</html>